*{
    padding: 0px;
    position: absolute;
    margin: 0px;
}
#itembc{
    background-image: url("../../../../image/knowledge/jieshao/mcq/mcqbc.png");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    background-position: center;
}
#back{
    position: absolute;
    top:5%;
    left:80%;
    width: 10%;
    height: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../../image/fanhui.png");
}