*{
    padding: 0px;
    position: absolute;
    margin: 0px;
}
body{
    width: 1001px;
    height: 610px;
    cursor: url("image/shubiao2.png");
}
#bcground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("image/title/首页背景.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#enter{
    position: absolute;
    top:60%;
    left:80%;
    width: 15%;
    height: 20%;
    background-image: url("image/title/J01.png");
    background-size: cover;
    background-repeat: no-repeat;
}