*{
    padding: 0px;
    position: absolute;
    margin: 0px;
}
#bcground{
    background-image: url("image/title/titleback.jpg");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    background-position: center;
}
#enter{
    position: absolute;
    top:60%;
    left:80%;
    width: 15%;
    height: 17%;
    background-image: url("image/title/titleenter.png");
    background-size: contain;
    background-repeat: no-repeat;
}